<section id="cinema">
    <header>
        <div class="row">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item "><a href="/" >Accueil</a></li>
                    <li class="breadcrumb-item ">
                        <a href="/cinemas">Cinéma</a>
                    </li>
                    <li class="breadcrumb-item " aria-current="page">{{cinema.name}}</li>
                </ol>
            </nav>
        </div>
        <div class="row info-title justify-content-start">
            <span>{{cinema.name}}</span>
        </div>
    </header>
    <div class="theater-header">
        {{Html.image('Gaumont.jpg',{'class':'cine-img'})|raw}}
        <div class="theater-info-top">
            <p>{{cinema.adresse}}</p>
        </div>
        <div class="theater-info-bottom">
            <div class="row">
                <div class="col-md-10">
                    <p>Cartes acceptées :</p>
                    <div class="row">
                        <span class="card">CHÈQUE CINÉMA UNIVERSEL</span>
                        <span class="card">CARTE LE PASS</span>
                    </div>
                </div>
                <div class="col-md-1 case room">
                    <span class="number">{{cinema.nb_room}}</span>
                    <span>salles</span>
                </div>
                <div class="col-md-1 case handicap">
                	<i class="fas fa-wheelchair"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="theater-menu">
        <div class="row">
            <div class="col-md-2 item">
                {{Html.link('Films à l\'affiche', {'controller':'Movies', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Avant-premières', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Prochainement', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Evenements', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Tarifs', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Plan d\'accès', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-md-12">
            <div class="row data">
                {% for week in weeks %}
                    {% for item in week %}
                        <div class="row" data-date='{{item.days|date('Y-m-d')}}'>
                            <div class="day">{{ item.days|date('D') }}</div>
                            <div class="num">{{ item.num|date('j') }}</div>
                            <div class="month">{{ item.month|date('F') }}</div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% for key,movie in movies %}
                <div class="card-movie" data-date="{{key|date('Y-m-d')}}">
                    {% for item in movie %}
                    <!-- <pre>{{dump(item)}}</pre> -->
                    <div class="row hidden">
                        <div class="col-md-4">
                            {{Html.image(item.movie.img_url)|raw}}
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <h4>{{Html.link(item.movie.name, '/film/' ~ '/' ~ movie.id)|raw}}</h4>
                            </div>
                            <div class="row">
                                {{movie.created|date('d F Y')}} / {{item.movie.duration}}
                            </div>
                            <div class="row">
                                <span>De
                                    {{Html.link(item.movie.producer.name, 'producter' ~ '/' ~ movie.producer.id)|raw}}
                                </span>
                            </div>
                            <div class="row">
                                <span>Avec
                                    {% for actor in item.movie.actors %}
                                    <a href="/acteur/{{actor.id}}">
                                        {{actor.firstname}}
                                        {{actor.lastname}}
                                    </a>
                                    {% endfor %}
                                </span>
                            </div>
                            <div class="row">
                                {{item.movie.contain|length > 200 ? item.movie.contain|slice(0, 250) ~ '...' : item.movie.contain}}
                            </div>
                        </div>
                    </div>

                    <div class="row card-info hidden">
                        <div class="row">
                            <p>En VF, Numérique</p>
                        </div>
                        <div class="row">
                            {% for session in item.sessions %}
                                <pre>{{dump(session)}}</pre>
                                <div class="time">
                                    <span>{{session.time|date('H:i', "Europe/Paris")}}</span>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                {% endfor %}
            {% endfor %}
        </div>

        <script type="text/javascript">

          $(document).ready(function(){
            $('.data').slick({
                slidesToShow: 7,
                slidesToScroll: 6
            });

            // Instancie les films, si ils ont la date actuelle alors ils sont affichés

            var today = moment().format('YYYY-MM-DD ');

            var movie_now = $('.card-movie');
            if($(movie_now).data('date') == today){
                $('.card-movie[data-date="'+$(movie_now)+'"]').show();
            }else{
                $('.card-movie').hide();
            }


            // Si l'on recherche un film alors les films sont comparés à la date souhaitée


            $('.slick-slide').on('click',function(e){
                // Cible l'enfant de slick-slide
                var element = e.delegateTarget;

                var date = $(this).data('date');
                var movie = $('.card-movie[data-date="'+date+'"]');


                $( ".card-movie" ).each(function() {
                  $('.card-movie').hide();

                })


                if($(movie).data('date') == $(element).data('date')){
                    $('.card-movie[data-date="'+$(movie).data('date')+'"]').show();
                }

            });

          });
        </script>
    </div>
</section>
