<section id="cinema">
    <header>
        <div class="row">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb ">
                    <li class="breadcrumb-item "><a href="/" >Accueil</a></li>
                    <li class="breadcrumb-item ">
                        <a href="/cinemas">Cinéma</a>
                    </li>
                    <li class="breadcrumb-item " aria-current="page">{{cinema.name}}</li>
                </ol>
            </nav>
        </div>
        <div class="row info-title justify-content-start">
            <span>{{cinema.name}}</span>
        </div>
    </header>
    <div class="theater-header">
        {{Html.image('Gaumont.jpg',{'class':'cine-img'})|raw}}
        <div class="theater-info-top">
            <p>{{cinema.adresse}}</p>
        </div>
        <div class="theater-info-bottom">
            <div class="row">
                <div class="col-md-10">
                    <p>Cartes acceptées :</p>
                    <div class="row">
                        <span class="card">CHÈQUE CINÉMA UNIVERSEL</span>
                        <span class="card">CARTE LE PASS</span>
                    </div>
                </div>
                <div class="col-md-1 case room">
                    <span class="number">{{cinema.nb_room}}</span>
                    <span>salles</span>
                </div>
                <div class="col-md-1 case handicap">
                	<i class="fas fa-wheelchair"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="theater-menu">
        <div class="row">
            <div class="col-md-2 item">
                {{Html.link('Films à l\'affiche', {'controller':'Movies', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Avant-premières', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Prochainement', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Evenements', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Tarifs', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
            <div class="col-md-2 item">
                {{Html.link('Plan d\'accès', {'controller':'Cinemas', 'action':'list'})|raw}}
            </div>
        </div>
    </div>

    <div class="row">
         <div class="col-md-8">
            <div class="row data">
                {% for week in weeks %}
                    {% for item in week %}
                        <div class="row" data-date='{{item.days|date('Y-m-d')}}'>
                            <div class="day">{{ item.days|date('D') }}</div>
                            <div class="num">{{ item.num|date('j') }}</div>
                            <div class="month">{{ item.month|date('F') }}</div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% for key,movie in movies %}

                <div class="card-movie" data-date="{{key|date('Y-m-d')}}">
                    {% for item in movie %}
                    <div class="row card-entity">
                        <div class="col-md-4">
                            {{Html.image(item.movie.img_url)|raw}}
                        </div>
                        <div class="col-md-8">
                            <h3>{{Html.link(item.movie.name, '/film/' ~ '/' ~ movie.id)|raw}}</h3>
                            <div class="infos">
                                <p>{{movie.created|date('d F Y')}} / {{item.movie.duration}} /
                                {% for categorie in item.movie.categories %}
                                    {{ Html.link(categorie.name, {'controller':'Categorie', 'action': 'categorie' ~ '/' ~ categorie.id}, {'class':'categorie'})|raw }}
                                {% endfor %}
                                / {{item.movie.nationality}}
                                </p>
                                <p>De {{ Html.link(item.movie.producer.name, 'producter' ~ '/' ~ movie.producer.id)|raw }}</p>

                                <p>Avec
                                {% for actor in item.movie.actors %}
                                <a href="/acteur/{{actor.id}}" class="actor">
                                    {{actor.firstname}}
                                    {{actor.lastname}}
                                </a>
                                {% endfor %}
                                </p>
                            </div>
                            <p class="synopsis">{{item.movie.contain|raw}}</p>
                        </div>
                    </div>
                    <div class="row card-info">
                        <div class="row">
                            <div class="col-lg-12 format">
                               <p>En VF, Numérique</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                               <ul class="sessions">
                               {% for session in item.sessions %}
                                   <li class="time">
                                       <div>
                                           <span class="item-value">{{ session|date('H:i') }}</span>
                                           <span class="item-booking">Réserver</span>
                                       </div>
                                   </li>
                               {% endfor %}
                               </ul>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>


            {% endfor %}
        </div>
        <div class="col-md-4">

        </div>

        <script type="text/javascript">

          $(document).ready(function(){
            $('.data').slick({
                slidesToShow: 7,
                slidesToScroll: 6
            });

            // Instancie les films, si ils ont la date actuelle alors ils sont affichés



            function displayMovies(date){

               let movies = $('.card-movie');
               movies.removeClass('active');
               movies.each(function(){
                  let date_movies = $(this).data('date');
                  if(date_movies == date){
                     $(this).addClass('active');
                  }
               });

            }

            // Initialize movies displays
            let today = moment().format('YYYY-MM-DD');
            displayMovies(today);

            // Si l'on recherche un film alors les films sont comparés à la date souhaitée

            $('.slick-slide').on('click',function(e){

                const date_selected = $(this).data('date');
                displayMovies(date_selected);

            });

          });
        </script>
    </div>
</section>
