
<button type="button" name="button" >
    {{ Html.link('Nouveau Film', {'controller':'Movie', 'action': 'new'})|raw }}
</button>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Contenu</th>
        <th>Date</th>
        <th>Categorie</th>
        <th>Seance</th>
        <th>Cinéma</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for movie in movies %}

        <tr>
            <td>
                {{ movie.id }}
            </td>
            <td>
                {{ Html.link(movie.name, {'controller':'Movie', 'action': 'movie' ~ '/' ~ movie.id})|raw }}
            </td>
            <td>
                {{ movie.contain|length > 50 ? movie.contain|slice(0, 50) ~ '...' : movie.contain  }}
            </td>
            <td>
                {{ movie.created|date("d/m/Y") }}
            </td>
            <td>
                {% for categorie in movie.categories %}
                    {{ Html.link(categorie.name, {'controller':'Categorie', 'action': 'categorie' ~ '/' ~ categorie.id})|raw }}
                {% endfor %}
            </td>
            <td>
                {% for session in movie.sessions %}
                    {{ Html.link(session.time, {'controller':'Categorie', 'action': 'categorie' ~ '/' ~ categorie.id})|raw }}
                {% endfor %}
            </td>
            <td>
                {{ Html.link(movie.cinema.name, {'controller':'Categorie', 'action': 'categorie' ~ '/' ~ categorie.id})|raw }} <br>
            </td>
            <td>
                {{ Html.link('Edit','/film/editer/' ~ movie.id)|raw }}
            </td>
            <td>
                {{ Html.link('Delete', {'controller':'Movie', 'action': 'delete' ~ '/' ~ movie.id})|raw }}
            </td>
        </tr>

    {% endfor %}
</table>
