<section id="movie">
    <div class="header">
        <div class="row breadcrumbs">
            {{ Html.link('Accueil', {'controller':'Movie', 'action': 'list'})|raw }} > {{ Html.link('Cinéma', {'controller':'Movie', 'action': 'list'})|raw }} > {{ Html.link('Films à l\'affiche', {'controller':'Movie', 'action': 'list'})|raw }} > Astérix - Le Secret de la Potion Magique
        </div>
        <div class="row title justify-content-md-center">
            <h2>ASTÉRIX - le secret de la portion magique</h2>
        </div>
    </div>
    <div class="nav">
        {{ Html.link(Html.image('home-button.png', {'class':'icone'}), {'controller':'Movie', 'action': 'list'},{'escape': false})|raw }}
        {{ Html.link('Séances', {'controller':'Movie', 'action': 'list'})|raw }}
        {{ Html.link('Bandes-annonces', {'controller':'Movie', 'action': 'list'})|raw }}
        {{ Html.link('Casting', {'controller':'Movie', 'action': 'list'})|raw }}
        {{ Html.link('Critiques et spectateurs', {'controller':'Movie', 'action': 'list'})|raw }}
        {{ Html.link('Critique presse', {'controller':'Movie', 'action': 'list'})|raw }}
        {{ Html.link('Photo', {'controller':'Movie', 'action': 'list'})|raw }}
        {{ Html.link('VOD', {'controller':'Movie', 'action': 'list'})|raw }}
        {{ Html.link('+', {'controller':'Movie', 'action': 'list'})|raw }}
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row container">
                <div class="col-md-4 cover">
                    {{ Html.image('asterix.jpg')|raw }}
                </div>
                <div class="col-md-8 content">
                    <div class="text">
                        <p><span>Date de sortie</span> {{ Html.link('5 décembre 2018', {'controller':'Movie', 'action': 'list'}, {'class':'bold'})|raw }} (1h25min)</p>
                        <p><span>De</span> {{ Html.link('Louis Clichy', {'controller':'Movie', 'action': 'list'})|raw }},{{ Html.link('Alexandre Astier', {'controller':'Movie', 'action': 'list'})|raw }}</p>
                        <p><span>Avec</span> {{ Html.link('Bernard Alane', {'controller':'Movie', 'action': 'list'})|raw }},{{ Html.link('Christian Clavier', {'controller':'Movie', 'action': 'list'})|raw }},{{ Html.link('plus', {'controller':'Movie', 'action': 'list'})|raw }} {{ Html.link('Guillaume Briat', {'controller':'Movie', 'action': 'list'})|raw }}</p>
                        <p><span>Genres</span> {{ Html.link('Annimation', {'controller':'Movie', 'action': 'list'})|raw }},{{ Html.link('Famille', {'controller':'Movie', 'action': 'list'})|raw }}</p>
                        <p><span>Nationalité</span> {{ Html.link('Français', {'controller':'Movie', 'action': 'list'})|raw }}</p>
                    </div>
                    <div class="row btn">
                        {{ Html.link('Bande-Annonce', {'controller':'Movie', 'action': 'list'}, {'class':'button secondary'})|raw }}
                        {{ Html.link('Seance(749)', {'controller':'Movie', 'action': 'list'}, {'class':'button primary'})|raw }}
                    </div>
                    <div class="row notation">
                        <div class="col-md-4">
                            {{ Html.link('presse', {'controller':'Movie', 'action': 'list'}, {'class':'title'})|raw }}<br>
                            <i class="fas fa-star small color"></i>
                            <i class="fas fa-star small color"></i>
                            <i class="fas fa-star small color"></i>
                            <i class="fas fa-star small"></i>
                            <i class="fas fa-star small"></i>
                             <span>23 critiques</span>
                        </div>
                        <div class="col-md-4">
                            {{ Html.link('spectateurs', {'controller':'Movie', 'action': 'list'}, {'class':'title'})|raw }}<br>
                            <i class="fas fa-star small color"></i>
                            <i class="fas fa-star small color"></i>
                            <i class="fas fa-star small color"></i>
                            <i class="fas fa-star small color"></i>
                            <i class="fas fa-star small"></i>
                            <span>859 notes dont 121 critiques</span>
                        </div>
                        <div class="col-md-4">
                            {{ Html.link('mes amis', {'controller':'Movie', 'action': 'list'}, {'class':'title'})|raw }}<br>
                            <i class="fas fa-star small color"></i>
                            <i class="fas fa-star small"></i>
                            <i class="fas fa-star small"></i>
                            <i class="fas fa-star small"></i>
                            <i class="fas fa-star small"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row actions">
                <div class="item mid left">
                    Noter :
                    <i class="fas fa-star normal color"></i>
                    <i class="fas fa-star normal"></i>
                    <i class="fas fa-star normal"></i>
                    <i class="fas fa-star normal"></i>
                    <i class="fas fa-star normal"></i>
                </div>
                <div class="item mid">
                    <i class="far fa-bookmark"></i>
                    {{ Html.link('envie de voir', {'controller':'Movie', 'action': 'list'}, {'class':'title'})|raw }}
                </div>
                <div class="item mid">
                     <i class="fas fa-pen"></i>
                    {{ Html.link('Rédiger ma critique', {'controller':'Movie', 'action': 'list'}, {'class':'title'})|raw }}
                </div>
                <div class="item">
                    <a href="" class="title">
                        <i class="fas fa-share"></i>
                    </a>
                </div>
            </div>
            <div class="row synopsis">
                <div class="col">
                    <div class="row">
                        <h3>Synopsis et détails</h3>
                    </div>
                    <div class="row">
                        <p>A partir de 3 ans </p>
                    </div>
                    <div class="row">
                        <p>À la suite d’une chute lors de la cueillette du gui, le druide Panoramix décide qu’il est temps d’assurer l’avenir du village. Accompagné d’Astérix et Obélix, il entreprend de parcourir le monde gaulois à la recherche d’un jeune druide talentueux à qui transmettre le Secret de la Potion Magique…</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="">

    </div>
    <div class="">

    </div>
</section>
