<!DOCTYPE html>
<html>
    <head>
        {{ Html.charset()|raw }}

        <title>
            {{ __('Allocine') }}
            {{ _view.fetch('title')|raw }}
        </title>

        {{ Html.meta('icon')|raw }}

        <!-- {{ Html.css('style.css')|raw }} -->
        {{ Html.css('application.css')|raw }}
        <!-- {{ Html.script('app')|raw }} -->

        {{ _view.fetch('meta')|raw }}
        {{ _view.fetch('css')|raw }}
        {{ _view.fetch('script')|raw }}



        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="https://vjs.zencdn.net/7.2.4/video-js.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


        <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src="http://momentjs.com/downloads/moment.js"></script>




    </head>
</head>
<body>
    <div class="container">
        <header>
            <div class="col-md-12 bandeau ">
                <div class="row line-top">
                    <div class="col-md-2">
                        {{ Html.image('logo-allocine.png', {'class':'image-logo'})|raw }}
                    </div>
                    <div class="col-md-6 offset-md-2">
                        <div class="row">
                            {{ Form.create('Post', {'class':'form-search'})|raw }}
                            {{ Form.control('',{'placeholder': __('Rechercher un film, une série, une star...')},{'class':'form-input'})|raw }}
                            {{ Form.button('Rechercher')|raw }}
                            {{ Form.end()|raw }}
                        </div>
                        <div class="row">
                            <p class="header-search-extralinks exemple_film">Ex. :
                                {{ Html.link('Bohemian Rhapsody', {'controller':'Movie', 'action': 'list'})|raw }},
                                {{ Html.link('Mowgli', {'controller':'Movie', 'action': 'list'})|raw }},
                                {{ Html.link('Game of Thrones', {'controller':'Movie', 'action': 'list'})|raw }},
                                {{ Html.link('The Walking Dead', {'controller':'Movie', 'action': 'list'})|raw }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row line-bottom">
                    <div class="col-md-9 pages">
                        <ul >
                            <div class="bold">
                                <li>{{ Html.link(Html.image('home-button.png', {'class':'icone'}), {'controller':'Movie', 'action': 'list'},{'escape': false})|raw }}</li>
                                <li>{{ Html.link('Cinéma', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                <li>{{ Html.link('Séries', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                <li>{{ Html.link('émissions', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                <li>{{ Html.link('news', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                            </div>
                            <li>{{ Html.image('music-player.png', {'class':'icone'})|raw }}{{ Html.link('B.O', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                            <li>{{ Html.link('TV', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                            <li>{{ Html.link('DVD', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                            <li>{{ Html.link('VOD', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                            <li>{{ Html.image('netflix.png', {'class':'icone'})|raw }}{{ Html.link('NETFLIX', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                        </ul>
                    </div>
                    <div class="col-md-2 offset-md-1 my-allocine">
                        {{ Html.image('add-user.png', {'class':'icone'})|raw }}
                        Mon allociné
                        {{ Html.image('arrox-down.png', {'class':'icone'})|raw }}
                        <div class="sous-menu">
                            <ul>
                                <div class="log">
                                    <li>{{ Html.link('Identifier vous', {'controller':'Movie', 'action': 'list'}, {'class':'btn btn-default'})|raw }}</li>
                                    <li>{{ Html.link('Créer votre compte', {'controller':'Movie', 'action': 'list'}, {'class':'nv-compte'})|raw }}</li>
                                </div>
                                <div class="sous-menu-link">
                                    <li>{{ Html.link('Mes amis', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                    <li>{{ Html.link('Mes cinémas', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                    <li>{{ Html.link('Speednoter', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                    <li>{{ Html.link('Ma collection', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                    <li>{{ Html.link('Mon compte', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                    <li>{{ Html.link('Jeux', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                    <li>{{ Html.link('Forum', {'controller':'Movie', 'action': 'list'})|raw }}</li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {{ _view.fetch('header')|raw }}
        </header>





        <!-- {{ Flash.render()|raw }} -->
        {{ _view.fetch('content')|raw }}
        </div>
    <footer>
        <div class="col-md-8 offset-md-2">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="row  justify-content-center">
                        <h5>Suivez-nous</h5>
                    </div>
                    <div class="row  justify-content-center">
                        <h4>{{ Html.link('Acteurs', '/acteurs')|raw }}</h4>
                    </div>
                    <div class="row  justify-content-center">
                        <h4>{{ Html.link('Villes', '/villes')|raw }}</h4>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row  justify-content-center">
                        <h5>Allociné sur mobile</h5>
                    </div>
                    <div class="row  justify-content-center">
                        <h4>{{ Html.link('Categories', '/categories')|raw }}</h4>
                    </div>
                    <div class="row  justify-content-center">
                        <h4>{{ Html.link('Cinemas', '/cinemas')|raw }}</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row  justify-content-center">
                        <h5>Allociné à l'étranger</h5>
                    </div>
                    <div class="row  justify-content-center">
                        <h4>{{ Html.link('Producteurs', '/producteurs')|raw }}</h4>
                    </div>
                    <div class="row  justify-content-center">
                        <h4>{{ Html.link('Seances', '/seances')|raw }}</h4>
                    </div>
                </div>
            </div>
        </div>
        {{ _view.fetch('footer')|raw }}
    </footer>




</body>
</html>
