    <p>{{ movie.n }}</p>
    <p>{{ comment.author }}</p>
    <p>{{ comment.note }}</p>
    <p>{{ comment.contain }}</p>


{{ Form.create(comment)|raw }}
    {{ Form.control('newspapper',{'label': __('Entrer le nom de votre journal')})|raw }}
    {{ Form.control('author',{'label': __('Entrer votre nom')})|raw }}
    {{ Form.control('note',{'label': __('Notez le film')})|raw }}
    {{ Form.control('contain',{'type': 'textarea','label': __('Entrer votre critique')})|raw }}
    {{ Form.button('Editer')|raw }}
{{ Form.end()|raw }}
