{# {{% for movie in movies %}}
    <p>{{ movie.name }}</p>
    <p>{{ movie.contain }}</p>
{{% endfor %}} #}

{{ Form.create('Post')|raw }}
    {{ Form.control('name',{'label': __('Nom du film')})|raw }}
    {{ Form.control('contain',{'type': 'textarea','label': __('Description du film')})|raw }}
    {{ Form.button('Ajouter')|raw }}
{{ Form.end()|raw }}
