<table class="table">
    <tr>
        <th>Date</th>
        <th>Heure</th>
        <th>Film</th>
        <th>Cinéma</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for session in sessions %}

        <tr>
            <td>
                {{ session.date|date('d F Y') }}
            </td>
            <td>
                {{ session.time|date('H:i') }}
            </td>
            <td>
                {{ Html.link(session.movie.name, '/movie' ~ '/' ~ session.movie.id)|raw }}
            </td>
            <td>
                {{ Html.link(session.cinema.name, '/cinema' ~ '/' ~ session.cinema.id)|raw }}
            </td>
            <td>
                {{ Html.link('Edit','/session/editer/' ~ session.id)|raw }}
            </td>
            <td>
                {{ Html.link('Delete', {'controller':'Movie', 'action': 'delete' ~ '/' ~ session.id})|raw }}
            </td>
        </tr>

    {% endfor %}
</table>
